*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.contanier{
  justify-content: center;
  align-items: center;
}

h1{
  text-align: center;
}

a{
  font-size:x-large;
}


.carusel{
  margin: 30px 0px;
}



.contenido{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(221, 222, 223, 0.89);
  margin: 30px 0px;
}

.contenido div{
  padding: 5%;
}

.contenido .imagen img{
  width: 100%;
}

.contenido p{
  font-size: x-large;
}



.ubicacion{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: auto;
}
.ubicacion{
  margin-top: 30px;
}

.ubicacion p{
  padding: 10%;
  font-size: x-large;
}

iframe{
  border-radius: 20px;
}


.footer{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;

}


/* DISEÑO ADAPTADO */
@media (max-width:800px){
  
  body{
      margin: auto;
  }


  .container{
      width:100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: rgb(19, 6, 6);
      margin: auto;
  }
  .contenido{
    flex-direction: column;
    color: black;
    font-size:medium;
  }
  .ubicacion{
    flex-direction: column;
    color: black;
  }

  .ubicacion div{
    padding: 0%;
    margin: 0%;
  }
  iframe{
    justify-content: center;
    align-items: center;
    width: auto;
    margin-bottom: 30px;
  }
}
