*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}



.titulo{
  text-align: center;
  background-color: rgba(217, 223, 228, 0.712);
}

.menu{
  font-size: larger;
}


.carusel{
  margin: 10px 0px;
}

.contenido{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(221, 222, 223, 0.89);
  margin: 30px 0px;
}


.contenido div{
  padding: 5%;
}

.contenido p{
  font-size:x-large;
}

.imagen{
  margin-right:20px;
}

.imagen img{
  background-size: 100%;
  width:300px
}




.ubicacion{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: auto;
}
.ubicacion{
  margin-top: 30px;
}

.ubicacion p{
  padding: 10%;
  font-size: x-large;
}

iframe{
  border-radius: 20px;
}



.footer{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 30px;
  width: 100%;

}




/* DISEÑO ADAPTADO */
@media (max-width:800px){
  .contanier{
      display: flex;
      flex-direction: column;
  }

  .contanier{
      flex-direction: column;
      width: 100%;
  }

  .contenido{
      flex-direction: column;
  }
 
  .ubicacion{
      flex-direction: column;
      color: black;
   }

    iframe{
      justify-content: center;
      align-items: center;
      width: auto;
      margin-bottom: 30px;
  }
}
